<div id="signup-page" class="p-20 md:p-4">
  <%= render "/notice" %>
  <h1 class="mb-8 md:text-center md:text-4xl">Traditional Chinese Checker</h1>
  <div class="grid grid-cols-3">
    <div class="col-span-2 md:col-span-3">
      <img src="/correcting-tool.gif" alt="Correcting tool gif">
    </div>
    <div class="col-span-1 md:col-span-3">
      <signup-form />
    </div>
  </div>
</div>
