<div id="report-form">
  <div>
    <header-section />
  </div>
  <report-form
    :token="'<%= form_authenticity_token %>'"
    :report-word="<%= @report.to_json %>"
    :replies="<%= @replies.to_json %>"
  />
</div>